
#  API Key of open AI
OPENAI_TOKEN=YOU_OPENAI_TOKEN
# server address of matrix
HOME_SERVER=http://matrix
# matrix user black list
MATRIX_USER_BLACK_LIST=[userid1, userid2]
# matrix room black list
MATRIX_ROOM_BLACK_LIST=[roomid1, roomid2]
